Port 22222
AddressFamily inet
ListenAddress 10.0.2.15
HostKey /etc/ssh/recovery_host_ed25519_key.pub
HostKeyAgent /run/swz/recovery-hostkey-agent.sock
PubkeyAuthentication yes
AuthenticationMethods publickey
PasswordAuthentication no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
UsePAM no
PermitRootLogin no
StrictModes yes
AuthorizedKeysFile /etc/ssh/recovery_authorized_keys
ForceCommand /usr/local/libexec/swz-dispatcher
PermitTTY no
X11Forwarding no
AllowTcpForwarding no
AllowAgentForwarding no
PermitTunnel no
GatewayPorts no
PermitUserEnvironment no
PermitUserRC no
PermitEmptyPasswords no
MaxSessions 1
MaxStartups 1:1:1
LoginGraceTime 10
ClientAliveInterval 5
ClientAliveCountMax 1
UseDNS no
